body {
    background-color: #bbb4b4;
    background-image: url(../../media/a2/SR_bkgrnd.jpg);
    background-size: cover;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
    color: #0e0f19;
}
/*styling for each pages title, not a huge fan of georgia down but they stand out more than bolded Arial*/
.title{
    overflow: hidden;
    background-color: #3581B8;
    color: #0e0f19;
    width: 100%;
    font-weight: bold;
    font-family: 'Britannic Bold', 'Arial Rounded MT Bold', Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    padding: 10px 16px;
}

/* below is based on the responsive navbar with dropdowns from w3Schools
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp accessed 26/07/20*/
.topNav {
    background-color: #253237;
    width: 100%;
    overflow: hidden;
    margin-top: auto;
}
.topNav a {
float: left;
display: block;
color: #ebe9e9;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.active{
    background-color: #3581B8;
}
.topNav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
/**/
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #ebe9e9;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #253237;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #ebe9e9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topNav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    background-color: #ebe9e9;
    color: #253237;
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 750px) {
    .topNav a:not(:first-child), .dropdown .dropbtn{
        display: none;
    }
    .topNav a.icon{
        float: right;
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .topNav.responsive {position: relative}
    .topNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topNav.responsive .dropdown {float: none;}
      .topNav.responsive .dropdown-content {position: relative;}
      .topNav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
}
/*creating opaque background for text to be more legible*/
main {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f3f8f2;
    opacity: 0.75;
    color: #0e0f19;
}
/* creating default padding for text content*/
.bodytext{
    padding-top: 20px; /* needs atleast 1px for some reason to connect to menu and footer */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    main{
        margin-left: 25px;
        margin-right: 25px;
    }
}

footer {
    float: bottom;
    background-color: #0e0f19;
    color: #f3f8f2;
}